body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(48, 183, 255);
  height: 100vh;
  position: relative;
}

.selection {
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px;
}

.shapeSize {
  padding: 5px 10px;
}

.btn {
  padding: 5px 10px;
}

#shapesIds {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 5px;
  background-color: #fff;
}

#shapesIds li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
